<div class="noprint">
    <app-header></app-header>
</div>
<div class="detail-text">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <div class="detail">
                    <h4>3rd Year</h4>
                </div>
                <table class="grid mt-4">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{student.Name}}</td>
                        </tr>
                        <tr>
                            <td>Subject1</td>
                            <td>{{student.subject1}}</td>
                        </tr>
                        <tr>
                            <td>Subject2</td>
                            <td>{{student.subject2}}</td>
                        </tr>
                        <tr>
                            <td>Subject3</td>
                            <td>{{student.subject3}}</td>
                        </tr>
                        <tr>
                            <td>Subject4</td>
                            <td>{{student.subject4}}</td>
                        </tr>
                        <tr>
                            <td>Subject5</td>
                            <td>{{student.subject5}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="small">*To find out which device packs you need for your entire solution, click here.
                <p class="small">**For assistance finding and applying supported firmware, please contact the camera manufacturer</p>
                <!-- <table class="grid mt-4">
                    <tbody>
                        <tr>
                            <th colspan="4">All tested firmwares</th>
                        </tr>
                        <tr>
                            <td><b>Firmware versio</b></td>
                            <td><b>Driver</b></td>
                            <td><b>Driver DLL Name</b></td>
                            <td><b>Supported since DP</b></td>
                        </tr>
                        <tr>
                            <td>2.19.2.28.9</td>
                            <td>ONVIF Conformant Device</td>
                            <td>ONVIF</td>
                            <td>9.2a</td>
                        </tr>
                        <tr>
                            <td>2.19.2.28.9</td>
                            <td>ONVIF Conformant Device</td>
                            <td>ONVIF</td>
                            <td>9.2a</td>
                        </tr>
                    </tbody>
                </table>
                <table class="grid mt-4">
                    <tbody>
                        <tr>
                            <th colspan="4">Additional comments</th>
                        </tr>
                        <tr>
                            <td class="small">In order to get Audio Out working with good quality you should first setup Streaming Protocol to RTSP/TCP.</td>
                        </tr>
                    </tbody>
                </table>
                <table class="grid mt-4">
                    <tbody>
                        <tr>
                            <th colspan="4">Audio</th>
                        </tr>
                        <tr>
                            <td colspan="2">ONVIF Conformant Device</td>
                            <td colspan="2">1</td>
                        </tr>
                    </tbody>
                </table>
                <table class="grid mt-4">
                    <tbody>
                        <tr>
                            <th>Codec</th>
                        </tr>
                        <tr>
                            <td>Device name</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Device name</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Device name</td>
                            <td>yes</td>
                        </tr>
                    </tbody>
                </table>
                <table class="grid mt-4">
                    <tbody>
                        <tr>
                            <th>Codec</th>
                        </tr>
                        <tr>
                            <td>Device name</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Device name</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Device name</td>
                            <td>yes</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
            <div class="col-md-3" class="d-print-none">
                <button class="btn btn-primary m-1" (click)="printPage()">Print</button>
                <button class="btn btn-primary m-1">Back to list</button>
            </div>
        </div>
    </div>
</div>
<div class="noprint">
    <app-footer></app-footer>
</div>