<nav class="navbar">
    <div class="logo">
        <img src="../../../assets/logo1.svg" alt="logo">
    </div>
    <div class="nav-right">
        <a href="#search">Where to Buy</a>
        <span>|</span>
        <a href="#about">About Us</a>
        <span>|</span>
        <a href="#about">Career</a>
        <span>|</span>
        <a href="#about"><i class="fa fa-search" aria-hidden="true"></i></a>
        <button class="btn m-2"><i class="fa fa-globe" aria-hidden="true"></i>English</button>
        <button class="btn m-2"><i class="fa fa-user" aria-hidden="true"></i>Login</button>
    </div>
</nav>
<div class="links">
    <div class="drop1">
        <a href="">SOLUTIONS</a>
        <div class="dropdow1">
            <p>Why Choose Milestone?</p>
            <p>XProtect Cloud Solutions</p>
            <p>Product Index</p>
            <p>Try Our Software</p>
            <p> Book a free VMS demo</p>
            <p>Video Management Software</p>
            <p>Clients</p>
        </div>
    </div>
    <div class="drop1">
        <a href="">COMMUNITY</a>
        <div class="dropdow1">
            <p>The Open Platform</p>
            <p>Distributor</p>
            <p>Technology Partner Program</p>
            <p>Reseller</p>
        </div>
    </div>
    <div class="drop1">
        <a href="">MARKETPLACE</a>
        <div class="dropdow1">
            <p>Start exploring</p>
            <p>What is Marketplace?</p>
            <p>Technology Partner Program</p>
            <p>Join Marketplace</p>
            <p>Marketplace Login</p>
            <p>Marketplace Support</p>
        </div>
    </div>
    <div class="drop1">
        <a href="">SUPPORT</a>
        <div class="dropdow1">
            <p>Download Software</p>
            <p>Download Drivers</p>
            <p>Download MIP SDK</p>
            <p>Download XProtect Hotfixes</p>
        </div>
    </div>
    <div class="drop1">
        <a href="">EVENTS</a>
        <div class="dropdow1">
            <p>Conference</p>
            <p>Seminars</p>
            <p>Tradeshows</p>
            <p>Training classes</p>
        </div>
    </div>
    <div class="drop1">
        <a href="">NEWS</a>
        <div class="dropdow1">
            <p>The Milestone Newsroom</p>
            <p>The Milestone Post</p>
            <p>Content Portal</p>
            <p>Sign up for news</p>
        </div>
    </div>
</div>
